@using Milijøfestival.Shared
@inject IHentVagtData HentVagtData

<h3>Bookingside</h3>
@foreach(var v in vagter)
{
    Console.WriteLine($"{v.Sted}");
}




@code {
    List<Vagt> vagter;

    protected override async Task OnInitializedAzync()
    {
        vagter = await 
    }
}
