@using Milijøfestival.Shared
@inject HttpClient Http
@page "/Vagtoversigt"
<h3>Vagtoversigt</h3>
<table class="table">
<tbody>
@foreach (var v in vagter)
{
    <tr>
         <td>@v.Sted</td>
         <td>@v.StartTid</td>
         <td>@v.SlutTid</td>
    </tr>
}
</tbody>
</table>



@code {
    List<Vagt> vagter = new List<Vagt>();

    protected override async Task OnInitializedAsync()
    {
        vagter = await Http.GetFromJsonAsync<List<Vagt>>("HentVagter");
    }
}
