@using Milijøfestival.Shared
@inject HttpClient Http
@page "/Vagtoversigt"
<h3>Bookingside</h3>





@code {
    List<Vagt> vagter;

    protected override async Task OnInitializedAsync()
    {
        vagter = await Http.GetFromJsonAsync<List<Vagt>>("HentVagter");
    }
}
