@using Milijøfestival.Shared;
@inject HttpClient Http;
@page "/redigeropgave"
<h3>Rediger eller slet opgaver</h3>
 <th>Indtast nødvendig info først, tryk derefter på opgaven du vil opdatere og tryk til sidst på "Rediger" knappen</th>
 <form>
   <table class="table">
       
       
    <td>
    
            <label for="OpgBeskrivelse"> Opgavens beskrivelse</label>
            <input type="string" @bind="@opg.OpgBeskrivelse" />
    </td>
            <button class="btn btn-primary"@onclick="()=>savebeskrivelse(opg.OpgId, opg.OpgBeskrivelse)">Rediger opgave</button>
    


@foreach (var opg in opgaver)
{
    <tr>
         <th>@opg.OpgBeskrivelse</th>
         <th><button class="btn btn-primary"@onclick="()=>saveid(opg.OpgId)">Vælg opgave</button></th>
         <th><button class="btn btn-primary"@onclick="()=>saveslet(opg.OpgId)">Fjern opgave</button></th>

        
    </tr>
}

</table>
</form>
@code {
    //Gem redigerede opgave
    Opgave opdateropgave = new Opgave();
    private async Task savebeskrivelse(int id, string opgavebeskrivelse)
    {
        opdateropgave.OpgId = id;
        opdateropgave.OpgBeskrivelse = opgavebeskrivelse;
        
        var response = await Http.PutAsJsonAsync<Opgave>("OpdaterOpgaver", opdateropgave);
    }

    // Slet opgave når knappen trykkes
    Opgave opgaveslet = new Opgave();
    private async Task saveslet(int opgaveid)
    {
        opgaveslet.OpgId = opgaveid;
        var response = await Http.PutAsJsonAsync<Opgave>("SletOpgaver", opgaveslet);
    }

    //Hent opgaver
    List<Opgave> opgaver = new List<Opgave>();

    protected override async Task OnInitializedAsync()
    {
        opgaver = await Http.GetFromJsonAsync<List<Opgave>>("HentOpgave");
    }

    //Gem opgave id når knapen trykkes 
    Opgave opg = new Opgave();
    private async Task saveid(int id)
    {
        opg.OpgId = id;
    }

}
