@using Milijøfestival.Shared
@inject HttpClient Http
@page "/Vagtoversigt"
<h3>Vagt oversigt</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a href="Opretopgave">Opret og se opgaver</a></th>
            <th scope="col"><a href="">Rediger opgave</a></th>
            <th scope="col"><a href="opretvagt">Opret vagt</a></th>
            <th scope="col"><a href="rediger">Rediger vagt</a></th>
        </tr>
    <tr>
      <th scope="col">Hvor</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Book</th>
      <th scope="col">Fjern</th>
      
    </tr>
  </thead>
<tbody>
@foreach (var v in vagter)
{
    <tr>
         <th>@v.Sted</th>
         <th>@v.StartTid</th>
         <th>@v.SlutTid</th>
         <th><button class="btn btn-primary"@onclick="()=>save(v.VagtId)">Vælg</button></th>
         <th><button class="btn btn-primary"@onclick="()=>save1(v.VagtId)">Fjern vagt</button></th>
    </tr>
}
</tbody>
</table>



@code {
    Vagt vagtslet = new Vagt();
    private async Task save1(int vagtid1)
    {
        vagtslet.VagtId = vagtid1;
        var response = await Http.PutAsJsonAsync<Vagt>("SletVagt", vagtslet);
    }

    Vagt vagttaget = new Vagt();
    private async Task save(int vagtid)
    {
        vagttaget.VagtId = vagtid;
        var response = await Http.PutAsJsonAsync<Vagt>("VælgVagt", vagttaget);
    }

    List<Vagt> vagter = new List<Vagt>();

    protected override async Task OnInitializedAsync()
    {
        vagter = await Http.GetFromJsonAsync<List<Vagt>>("HentVagter");
    }
}
